@charset "ISO-8859-1";

.title-header {
	font-size: 25px;
	font-weight: 500;
}

#navbar {
	background-color: #f3f9fb;
}

#navbarDropdown {
	background-color: #eaf5ff;
}

.error {
	color: red;
	outline-color: red;
	border-color: red;
	box-shadow: 2px red;
}

.card-text {
	padding-bottom: 0px;
	padding-top: 0px;
}

.category-name {
	font-family: 'Russo One', sans-serif;
	font-size: 30px;
}

.new-books {
	font-family: 'Russo One', sans-serif;
	font-size: 30px;
	padding-left: 0px;
	box-sizing: 100px;
	text-shadow: 2px 2px 2px #f83a3a;
}
